

<p>&nbsp;</p>

<h4>Last posts</h4>
<div class="list-group">
    {% for post in posts %}
        <a href="{{ path('post_show', {slug: post.slug}) }}" class="list-group-item">
            {{ post.name }}
        </a>
    {% endfor %}
</div>
