<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <style>
        body {
            background-color: ghostwhite;
            font-size: 0.9em;
            font-family: DIN, "Lucida Bright", "SansSerif" !important;
        }

        a {
            color: #283593;
        }

        .navbar{
            margin-bottom: 2rem;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-fixed-top navbar-toggleable-md navbar-inverse bg-primary" style="background-color: #000 !important;">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ path('root') }}">
        <span style="font-family: cursive">GVA screener</span>
        </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('admin_post_index') }}">List</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('admin_post_new') }}">Add</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('root') }}" target="_blank">View site</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('logout') }}">logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    {% for type, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ type }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}{% endblock %}
</div><!-- /.container -->

{% block javascripts %}{% endblock %}
</body>
</html>