{% extends 'sidebar.html.twig' %}

{% block title %}
    {% if category is defined %}
        Category : {{ category.name }}
    {% elseif author is defined %}
        Author : {{ author.username }}
    {% else %}
        Blog
    {% endif %}
    {% if page > 1 %}
    Page {{ page }}
    {% endif %}
{% endblock %}

{% block main %}

    {% if category is defined %}
        <div class="page-header">
            <h1>Category : {{ category.name }}</h1>
            <p class="lead"></p>
        </div>
    {% elseif author is defined %}
        <div class="page-header">
            <h1>Author : {{ author.username }}</h1>
            <p class="lead"></p>
        </div>
    {% else %}
        <div class="page-header">
            <h1>GVA screener blog</h1>
            <br /><br />

        </div>
    {% endif %}

    {% for post in posts %}
    <article>
        <h2><a href="{{ path('post_show', {slug: post.slug}) }}" title="{{ post.name }}">{{ post.name }}</a></h2>
        <p>
            <small>
                Category : <a href="{{ path('post_category', {slug: post.category.slug}) }}">{{ post.category.name }}</a>,
                by {{ post.email }}
                on {{ post.createdAt | date("M dS Y") }}</small>
        </p>
        <p>
            {{ post.content | markdown | excerpt(60) }}
        </p>
        <p class="text-right">
            <a href="{{ path('post_show', {slug: post.slug}) }}" class="btn btn-info">Read more...</a>
        </p>
    </article>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>

{% endblock %}
