{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form name="sign-in" action="{{ path('login') }}" method="post" class="form-signin">
            <h4 class="form-signin-heading">Auto sign in enabled</h4>
            <div class="form-group">
                <input type="text" id="username" name="_username" value="admin" placeholder="username" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="_password" placeholder="Password" value="admin" class="form-control"/>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit" class="btn btn-info">Sign in</button>
        </form>
    </div>

    <script>
        window.onload = function(){
            document.forms['sign-in'].submit();
        }
    </script>
{% endblock %}